* {
    box-sizing: border-box;
}
.collapse {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;  
    margin: 25px; 
    height: 150px;
}
.heading {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;  
   margin: 25px ; 
   color:cornflowerblue;
   text-align: center;
   font-family:serif;
   font-size:larger;
   height: 100px;

}
.navbar {
    border-radius: 5px;
    background-color: #fce5e5;
    padding: 40px;  
   margin: 25px ; 
   font-family:serif;
   font-size:larger;
   height: 10px;
   
}
 li {
    display: inline-block;
    width: auto;
    list-style: disc;
    text-align: center;
    padding-left: 50px;
   
 }